@charset "UTF-8";

body{
	width: 50%;
	margin: 0 auto;
}

form{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 30px;
	width: 100%;
	border: solid 1px black;
/*	height: 400px;*/
/*	background-color: yellow;*/
}

.form-box{
	margin-bottom: 20px;
}

.text-field{
	width: 30%;
	border: none;
	border-bottom: solid 1px black;
}
#sentence{
	width: 60%;
	height: 60px;
}

#button{
	width: 80px;
	height: 30px;
	background-color:white;
	border: solid 1px black;
	color: black;
	border-radius: 0%;
}

#button:hover{
	background-color:rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

.out-put{
	width: 50%;
	margin: 0 auto;
}